<html>
   <head>
   <link rel="stylesheet" href="/css/materialize.min.css"/>
    <script src="/js/materialize.min.js"></script>
   
   <style type="text/css">
   body {
   margin:0px;
   padding:0px;
   }
   .sidebar {
   position:absolute;
   top:0px;
   left:0px;
   bottom:0px;
   width:100px;
   height:100%;
   }
   .main {
   position:absolute;
   top:0px;
   bottom:0px;
   left:100px;
   right:0px;
   width:auto;
   height:100%;
   overflow-y:auto;
   overflow-x:hidden;
   }
   </style>
   </head>
   
   <body class="grey darken-4">
   <div class="sidebar blue darken-4">

   </div>
   <div class="main">
   
   </div>
   </body>
</html>